<script id="user-stats" type="application/json">
  <%= current_user.stats.to_json.html_safe %>
</script>


<div class="container">
  <div class="row">
    <div id="movie-list" class="col-md-6"></div>
    <div id="stat-list"></div>
    <%= button_to "Sign Out", destroy_user_session_url, method: :delete, class: 'pull-right btn btn-primary' %>
  </div>
</div>

