<script id="user-stats" type="application/json">
  <%= current_user.stats.to_json.html_safe %>
</script>

<script type="text/javascript" charset="utf-8">
  $(window.App.initialize);
</script>


<nav id="nav" class="navbar navbar-default" role="navigation">

  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Disney Movie Challenge!</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active" data-route="index"><a href="#">All</a></li>
        <li data-route="feed"><a href="#feed">Feed</a></li>
        <li data-route="leaderboard"><a href="#leaderboard">Leaderboard</a></li>
      </ul>
      <form action="/users/sign_out" method="post" class="navbar-form navbar-right">
        <input type="hidden" name="_method" value="delete" />
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
        <button type="submit" class="btn btn-default">Sign out</button>
      </form>
    </div>
</nav>

<div class="container">
  <div id="main" class="row"></div>
</div>

