<div class="jumbotron">
  <div class="container">
  <h1>Disney Movie Challenge</h1>
  <p>Watch every Disney movie ever made. <em>Starting Today!</em><p>
    <p><a class="btn btn-primary btn-lg"
      role="button"
      href="<%=new_user_session_url%>">Sign In to track your progress!</a></p>
  </div>
</div>
